@using Application.Entity.Model

@{
	long TotalPrice = 1; 
}

@model List<Product>

<html> 
    <body>
    <div class="table-container">
        <table class="table">
            <thead
                3221>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="table-body">
                @foreach (var Products in Model)
                {
                    <tr>
                        <td data-label="ID">@Products.Id</td>
                        <td data-label="Name">@Products.Name</td>
                        <td data-label="Index">@Products.Quantity</td>
                        <td data-label="Index">@Products.Price</td>
                        @{
                            TotalPrice = Products.Price * Products.Quantity ?? 0;
                        }
                        <td>@TotalPrice</td>
                        @{
                            TotalPrice = TotalPrice + Products.Price ?? 0;
                        }
                        <td><a class="btn btn-primary" href="@(Url.Action("Edit","Product", new {ID = Products.Id}))">Change</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <h3>Total Price: @TotalPrice</h3>
    </body>
</html>

